<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stream</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight" style="background-color:#9146ff;">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
						<div class="navbar-end">
							<a href="http://localhost:7191/home" class="navbar-item">
								Home
							</a>
							<a href="http://localhost:7191/streams" class="navbar-item">
								Streams
							</a>
						</div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <video id="video" class="video"></video>
                <script>
                var video = document.getElementById('video');
                
                function playVideo(){
                    if(Hls.isSupported()) {
                        var hls = new Hls();
                        hls.loadSource('%s');
                        hls.attachMedia(video);
                        hls.on(Hls.Events.MANIFEST_PARSED,function() {
                        video.play();
                    });
                    }
                    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                        video.src = '%s';
                        video.addEventListener('loadedmetadata',function() {
                        video.play();
                        });
                    }
                }
                </script>
            
                <table>
                <tr>
                    <td><a href="%s">360p (400k)</a>  </td>
                    <td><a href="%s">720p (800k)</a>  </td>
                    <td><a onclick="playVideo()">Play</a></td>
                </tr>
                </table>
            </div>

            <div class="chatbox">
                <div class="chatcontent" id="chatcontent" style="width: 700px; height: 800px; overflow-y: scroll; background-color: white; color: black">
                </div>
                <form name="message">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" />
                    <label for="msg">Message</label>
                    <input type="text" name="msg" id="msg" />
                    <input type="submit" name="button" value="Submit" id="submitmsg" />
                </form>
            </div>
            <script>
                const path = "%s";
                const chatcontent = document.querySelector("#chatcontent");
                var offset = 0;
                var firstTime = true;
            </script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#submitmsg").click(function(){
                        var clientmsg = $("#msg").val();
                        var username = $("#username").val();
                        $.post("http://localhost:7192/sendmessage?path=" + path + "&user=" + username + "&message=" + clientmsg);
                        $("#msg").attr("value", "");
                        $("#username").attr("value", "");
                        return false;
                    });
                });
            </script>
            <script>
                function getMessages() {
                    $.getJSON("http://localhost:7192/getmessages?path=" + path + "&offset=" + offset, function(data) {
                        if (firstTime) {
                            const p = document.createElement("p")
                            p.innerHTML = "Welcome to chat!"
                            chatcontent.appendChild(p)
                            firstTime = false
                        }
                        if (data) {
                            const msg = JSON.parse(JSON.stringify(data))
                            for (var ms in msg) {
                                const p = document.createElement("p")
                                p.innerHTML = msg[ms].user.display_name + ": " + msg[ms].message
                                chatcontent.appendChild(p)
                            }
                            offset += msg.length
                        }
                    });
                }

                setInterval(getMessages, 1000)
            </script>
        </div>
    </section>
</body>

</html>